<form>
{% extends "base.html" %}

{% block content %}

<button type="submit" class="btn btn-primary" formaction={{url_for("nuevoGrupo")}}>Nuevo Grupo</button>
<br>
<br>
{% if grupos != [] %}
    <table class="claseTabla">
    <tbody>
    <tr><td>&nbsp;&nbsp;&nbsp;Grupo Nro</td><td>Accion</td></tr>		
    {% for dato in grupos %}
    <tr class="altRow">
    <td align="center">&nbsp;{{ dato[0]}}&nbsp;    </td>
    <td><button type="submit" class="btn btn-primary" formaction={{ url_for('integrantes', id = dato[0]) }}>Integrantes</button></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}		
{% endblock %}
</form>