{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('nuevoIntegrante', id = grupo) }} ">Nuevo Integrante</a>
<br>
Grupo Nro {{grupo}}
<br>
{% if integrantes != [] %}
    <table class="claseTabla">
    <tbody>
    <tr><td>&nbsp;&nbsp;&nbsp;Nombre y Apellido</td><td>Parentesco</td><td>F. Nac</td><td>domicilio</td><td>Accion</td></tr>		
    {% for dato in integrantes %}
        <tr class="altRow">
        <td align="center">&nbsp;{{ dato[0]}}&nbsp;    </td>
        <td><a href="{{ url_for('modificarGrupo', id = dato[0]) }} "> Integrantes</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}		    
    El Grupo Todavia no tiene integrantes
{% endif %}		



{% endblock %}